@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --cor-forte: rgba(43, 43, 43, 1);
  --cor-fundo: rgba(242, 236, 236, 1);
  --cor-principal: rgba(20, 115, 97, 1);
  --cor-secundaria: rgba(40, 89, 80, 1);
  --cor-destaque: rgba(69, 69, 69, 1);

  --fonte-padrao: "Inter", sans-serif;
}

body {
  background-image: url("../assets/images/pool_table.webp");
  background-color: var(--cor-fundo);
  font-family: var(--fonte-padrao);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: -1;
}

img.logo {
  width: 3rem;
}

main {
  min-width: 70%;
  background-color: var(--cor-fundo);
  margin: auto;
  padding: 2rem;
  flex-grow: 1;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.437);
}

.titulo-principal {
  margin: auto;
  max-width: 60rem;
  padding: 1.5rem 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--fonte-padrao);
  color: white;
  background-color: var(--cor-secundaria);
  border-radius: 0.8rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
}

form.conversor {
  text-align: center;
  padding: 2rem;
}

.conversor h2 {
  font-size: 1.5rem;
  color: var(--cor-forte);
}

.valor-resultado label {
  color: var(--cor-forte);
}

div.valor-resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

div.container-valor-selecionado,
div.container-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.valor-resultado input {
  padding: 0.2rem;
  text-indent: 0.8rem;
  border-radius: 0.4rem;
  width: 100%;
  background-color: var(--cor-fundo);
}

#botao-converter {
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: var(--cor-destaque);
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
  transition: transform 0.2s ease;
  cursor: not-allowed;
}

#botao-converter img {
  width: 3rem;
  height: 3rem;
}

#botao-converter:active {
  transform: scale(0.95);
}

/* Classe que executa a animação de carregamento */
.spinning {
  animation: spin 1.2s ease-out;
}

/* Animação de carregamento: */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.container-resultado p {
  margin: 0;
}

#resultado {
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: solid 1px var(--cor-forte);
  width: 100%;
}

.container-limpar > button {
  border: none;
  color: white;
  background-color: var(--cor-destaque);
  width: 7rem;
  height: 3rem;
  border-radius: 0.4rem;
  transition-duration: 0.3s;
}

.container-limpar > button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

aside.cotacoes {
  max-width: 60rem;
  margin: 2rem auto;
  background-color: var(--cor-secundaria);
  padding: 2rem;
  color: white;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
}

.cotacoes h3 {
  background-color: var(--cor-forte);
  margin: -2rem -2rem 1rem -2rem;
  padding: 0.4rem;
  font-size: 1.4rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.cotacoes ul {
  list-style-position: inside;
  line-height: 2rem;
  list-style: none;
}

.cotacoes ul li::before {
  content: "\2605\00A0\00A0";
}

.cotacoes ul li {
  font-size: 1.1rem;
}

.cotacoes p {
  font-size: 1.3rem;
}

footer {
  background-color: var(--cor-destaque);
  color: white;
  text-align: center;
  padding: 0.8rem;
}

footer p {
  margin: 0;
}

.fonte-especial {
  font-family: var(--fonte-padrao);
}

.cor-especial {
  background-color: var(--cor-principal);
}

.texto-com-sombra {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.463);
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }

  div.container-valor-selecionado,
  div.container-resultado {
    width: 40%;
  }
}

@media screen and (max-width: 720px) {
  .cotacoes div {
    flex-direction: column;
  }

  .cotacoes ul {
    padding-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  :root {
    font-size: 13px;
  }

  .titulo-principal {
    max-width: none;
    border-radius: 0px;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
  }

  div.valor-resultado {
    flex-direction: column;
    align-items: center;
  }

  div.container-valor-selecionado,
  div.container-resultado {
    width: 100%;
  }

  #valor-selecionado,
  #resultado {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}

@media screen and (max-width: 300px) {
  :root {
    font-size: 11px;
  }

  div.container-valor-selecionado,
  div.container-resultado {
    width: 100%;
  }
}
