@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: "Hemi";
  src: url(./fonts/hemi\ head\ bd\ it.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --cor-forte: #283354;
  --cor-fundo: #abb6db;
  --cor-principal: #657ed4;
  --cor-secundaria: #4d61a1;
  --cor-destaque: #424654;

  --fonte-padrao: "Montserrat", sans-serif;
  --fonte-titulo: "Hemi";
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-padrao);
}

img.logo {
  max-width: 50px;
}

main {
  max-width: 1000px;
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
  border-radius: 0px 0px 10px 10px;
}

.titulo-principal {
  margin: auto;
  margin-bottom: 30px;
  max-width: 800px;
  text-align: center;
  font-size: 1.6em;
  font-family: var(--fonte-titulo);
  padding: 20px;
  color: white;
  background-image: linear-gradient(to top ,var(--cor-principal), var(--cor-forte));
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
}

form.conversor {
  text-align: center;
}

.conversor h2 {
  font-size: 1.5em;
  color: var(--cor-forte);
}

div.opcoes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.opcoes label,
.valor-resultado label {
  color: var(--cor-forte);
}

div.valor-resultado {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0px;
}

div.container-valor-reais,
div.container-resultado {
  display: flex;
  flex-direction: column;
}

.valor-resultado input {
  padding: 2px;
  text-indent: 10px;
  width: 100%;
  border-radius: 5px;
}

.valor-resultado button {
  width: 70px;
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: var(--cor-principal);
  color: white;
  border-radius: 10px;
  font-size: 1.5em;
  transition-duration: 0.3s;
}

.valor-resultado button:hover {
  background-color: var(--cor-forte);
}

.container-limpar > button {
  border: none;
  color: white;
  background-color: var(--cor-destaque);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.container-limpar > button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

aside.cotacoes {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--cor-secundaria);
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.437);
}

.cotacoes h3 {
  background-color: var(--cor-forte);
  margin: -20px -20px 20px -20px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  font-size: 1.4em;
}

.cotacoes ul {
  list-style-position: inside;
  line-height: 30px;
  list-style-type: "\1F816\0020";
}

.cotacoes ul li {
  font-size: 1.1em;
}

.cotacoes p {
  font-size: 1.3em;
}

footer {
  margin-top: 20px;
  background-color: var(--cor-destaque);
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}

.fonte-especial {
  font-family: var(--fonte-titulo);
}

.cor-especial {
  background-color: var(--cor-principal);
}

.texto-com-sombra {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.463);
}

@media screen and (max-width: 600px) {
  
  .navbar > .container-fluid > a {
   font-size: 1em;
  }

  .titulo-principal {
    margin: -20px -20px 15px -20px;
    border-radius: 0;
    font-size: 1.2em;
  }

  .conversor h2 {
    font-size: 1.26em;
    font-weight: bold;
  }

  .conversor label{
    font-size: 1.2em;
  }

  div.opcoes {
    display: block;
    columns: 2;
  }

  div.valor-resultado{
    flex-direction: column;
    align-items: center;

  }

  .cotacoes div{
    flex-direction: column;

  }

  .cotacoes ul{
    padding-left: 0px;
  }


  
}
